
// $sandstone: #f4cc70;
// $burnt_orange: #DE7A22;
// $sea: #20948B;
// $lagoon: #6AB187;

$contrast1: #217CA3;
$contrast2: #e29930;

$color1: #32384d;
$color2: #211f30;

$titleFontFamily: 'Open Sans';
$normalFontFamily: 'Source Serif Pro';

