
.Content {
    width: 90%;
    margin: 0 auto;

    @media (min-width: 768px) {
        width: 80%;
    }
    
}

.Controls {
    position: relative;
    margin-top: 1em;
    @media (min-width: 768px) {
        width: 50%;
        left: 25%;
    }
}
